body
{
    background-image: url("../images/black-brick-building-wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed while scrolling */
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

h1
{
    color: white;
    text-transform: capitalize;
    font-size: 35px;

}

p
{
    color: #7f7c77;
    margin: -20px 0px 65px;

}

a
{
    background-color: #0066cc;
    border-radius: 5px;
    padding: 10px 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;

}